[core]
auth_username = {{ auth_username }}
auth_password = {{ auth_password }}
auth_method = {{ auth_method }}
channels = {{ channels }}
default_timezone = {{ default_timezone }}
enable = {{ enable }}
exclude = {{ exclude }}
host = {{ host }}
log_raw = {{ log_raw }}
logging_level = {{ logging_level }}
nick = {{ nick }}
nick_blocks = {{ nick_blocks }}
owner = {{ owner }}
port = {{ port }}
prefix = {{ prefix }}
use_ssl = {{ use_ssl }}
user = {{ user }}
verbose = {{ verbose }}

[rss]

feeds = {{ feeds }}